 /* Style 1 */
.service-box-style_1 .m-r-16 {     width: 70%;
    margin: 0 auto;
padding: 20px; }

.service-box-style_1 .service-box-bg-box {
	border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
}

.service-box-style_1 .service-box-bg-box  {
	text-align: center;
	padding:20px;
}

.service-box-style_1 .service-media .fa { font-size: 7em; }


/* Style 2 */

.service-box-style_2 .m-r-16 {     width: 70%;
    margin: 0 auto;
padding: 20px; }

.service-box-style_2 .service-box-bg-box {
	border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
}

.service-box-style_2 .service-box-bg-box  {
	text-align: center;
	padding:20px;
}

.service-box-style_2 .service-media .fa { font-size: 7em; }


/* Style 3 */

.service-box-style_3 .m-r-16 { 
background-color: #11b190;    
min-height:100px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
 }
 
.service-box-style_3 .m-r-17s{
	 width: 70%;
    margin: 0 auto;
    padding: 20px;  
 }

.service-box-style_3 .service-box-bg-box, .service-box-style_3 {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.service-box-style_3 .service-desc {
	    padding: 6px 20px;
}

.service-box-style_3 .service-box-bg-box  {
	text-align: center;
}

.service-box-style_3 .service-media .fa { font-size: 7em; }


/* Style 4 */

.service-box-style_4 .m-l-16 { 
background-color: #11b190;    
min-height:100px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
 }
 
.service-box-style_4 .m-r-17s{
	 width: 70%;
    margin: 0 auto;
    padding: 20px;  
 }

.service-box-style_4 .service-box-bg-box {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.service-box-style_4 .service-desc {
	    padding: 6px 20px;
}

.service-box-style_4 .service-box-bg-box  {
	text-align: center;
	border: 1px solid #ddd;
}

.service-box-style_4 .service-media .fa { font-size: 7em; }


.service-title{
	    padding-top: 24px;
}


/* Style 41 */
.service-box-style_41 .m-l-16  img{     width: 100%; border-top-left-radius: 48px;}

.service-box-style_41 .service-box-bg-box {
	border-top-left-radius: 52px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
margin-bottom: 20px;
}

.service-box-style_41 .service-box-bg-box .service-content  {
	text-align: left;
	padding:20px;
}

.service-box-style_41 .service-media .fa { font-size: 7em; }
